h1{
    text-align: center;
}

textarea{
    width: 800px;
    height: 400px;
    font-size: 15px;
    border-style: solid;
    border-color: black;
}

button{
    font-size: 20px;
}

label {
    white-space: pre-wrap;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    font-size:20px;
    text-align: center;
    width: 850px;
}

table button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 5px;
}

table img{
    width:100px;
    height: 100px;
}