h1{
    text-align: center;
}

textarea{
    width:700px;
    height:300px;
    font-size:15px;
    border-style: solid;
    border-color: black;
}

label {
    white-space: pre-wrap;
}

button{
    font-size: 20px;
}